[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
telepot = "*"
python-decouple = "*"
feedparser = "*"
bs4 = "*"
boto3 = "*"
jinja2 = "*"
openai = "0.28.1"

[dev-packages]

[requires]
python_version = "3.8"
