<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily summary</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/blogs.css">
    <script src="script.js"></script>
</head>
<body>
<div class="wrapper">

  <div class="local-header">

    <div class="weather">
      <h3>Weather today in Berlin Köpenick:</h3>
      <div class="value">{{.Weather.Temp}}</div>
      <div class="value">{{.Weather.Precipitation}}</div>
      <div class="value">{{.Weather.SunsetTime}}</div>
    </div>

    <div class="currency">
      <h3>Currencies:</h3>
      {{range $key, $value := .Currency.KeyValues}}
        <div class="value">
          {{$key}} - {{$value}} RUB
        </div>
      {{end}}
    </div>

  </div>

  <div class="articles">
    {{range .Blogs.Blogs}}

      <article class="article">
        <div class="article-top article-content">
          <div class="article-content">
            <div class="author">{{.Author}}</div>
            <h2 class="article-title">{{.Title}}</h2>     
          </div>
          <a onclick="trackClick('{{.Link}}')" href="{{.Link}}">
            <img src="{{.Img}}" alt="Article Image" loading="lazy">
          </a>
        </div>

        <div class="article-content">
          <button onclick="showHide('{{.Link}}')">summary</button>
          <p style="display: none" id="{{.Link}}" class="article-summary">
            {{.Summary}}
          </p>   
        </div>
  
      </article>
    {{end}}
  </div>

</div>

</body>
</html>
