.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.local-header {
    display: flex;
    flex-direction: column;
    color: #6b1616;
    gap: 30px;
}

.value {
    color: black;
}

.articles {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    max-width: 600px;
    overflow-y: scroll;
}

.article-wrapper {
    display: flex;
    max-width: 300px;
    gap: 10px;
}

.article-summary-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

