<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
<div class="wrapper">

  <div class="local-header">

    <div class="weather">
        <h3>Weather today in Berlin Köpenick:</h3>
      {% for value in weather.values %}
        <div class="value">{{ value }}</div>
      {% endfor %}
    </div>

    <div class="currency">
      <h3>Currencies:</h3>
      {% for key, value in currency.key_values.items() %}
        <div class="value">
          {{ key }} - {{ value }} RUB
        </div>
      {% endfor %}
    </div>

    <div class="herta-tickets">
      <div>
        {{ tickets }}
      </div>
    </div>

  </div>

  <div class="articles">
    {% for blog in blogs.blogs %}

      <div class="article-summary-wrapper">

        <div class="article-wrapper">
          <a href="{{ blog.link }}">
          <h2 class="article-title">
            {{ blog.title }}
          </h2>
          </a>
          <a href="{{ blog.link }}">
            <img src="{{ blog.img }}" width="50%">
          </a>
        </div>
        <button onclick="showHide('{{ blog.link }}')">show</button>

        <div id="{{ blog.link }}" style="display: none">
            {{ blog.summary }}
        </div>

      </div>
    {% endfor %}
  </div>

</div>

</body>
</html>